<h2>List of all Registered Alumni</h2>

<table class="table">

	<tr>
		<th>Serial</th>
		<th>Name</th>
		<th>Hall</th>
		<th>Department</th>
		<th>Graduation year</th>
		<% if coordinator_signed_in? %>
		<th></th>
		<% end %>
	</tr>

	<% @all.each do |alumni| %>

	<tr>

		<td><%= alumni.id %></td>
		<td><%= alumni.name %></td>
		<td><%= alumni.hall %></td>
		<td><%= alumni.dept %></td>
		<td><%= alumni.year %></td>

		<% if coordinator_signed_in? %>
		<td>
			<%= link_to "Delete", alumni_path(alumni), method: :delete %>
		</td>
		<% end %>

	</tr>

	<% end %>

</table>