<%= form_for :alumni, url: "/alumni/" do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :hall %><br>
    <%= f.text_field :hall %>
  </p>

  <p>
    <%= f.label :department %><br>
    <%= f.text_field :dept %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>